*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*HEADER*/

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; /*выравнивание по центру*/
    padding: 20px 70px 20px 32px;
    margin-bottom: 30px;
    position: fixed;    /*закрепляем шапку */
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    background-color: #fff;
}
.menu-button{
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;                  /*рычаг управления блоками */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;         /*смена расстановки оси блоков сверху вниз*/
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; /*задаёт одинаковое расстояние между блоками*/
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line{
    display: block; /*задаем блочный элемент для прорисовки линий*/
    background-color: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}
.logo{
    margin-right: 59px;
}

    /*INPUT GROUP*/

.input-group{
    background: #EBEBEB;
    border-radius: 22px;
    max-width: 830px; /*максимальный размер*/
    width: 50%; /*половина ширины от родительского элемента*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 17px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.input-search{
  
    background-color: transparent;  /*прозрачный цвет фона*/
    width: 100%;
    outline: none;
    border: none;
    padding: 12px 23px 12px 23px;
}
/*.input-search:active, :hover, :focus { /*убирает рамку при активации input*
    outline: 0;
    outline-offset: 0;
}*/

.button-search{
    padding: 0;
    border: none;
    width: 19px;
    height: 19px;
    background-color: transparent;
    cursor: pointer;
}
.icon-search{
    fill: #000;
    touch-action: none;
}

    /*ICONS*/

.icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}
.icons-link{
    text-decoration: none;
    opacity: 0.24;
}
.icons-link:hover{
    opacity: 0.7;
}
.icons-link:not(:last-child){
    margin-right: 50px;
}

    /*AVATAR*/

.user{
    margin-left: 45px;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

    /*SIDEBAR*/

.sidebar{
    position: fixed;
    top: 114px;
    left: 0;
    height: calc(100% - 114px);
    width: 12%;
    overflow-y: auto; /*автопрокрутка по оси -Y*/
    padding-left: 32px;
    background-color: #fff;
}
.content{
    width: 100%;
    height: 400px;
    margin-top: 85px;
    padding-left: 15%;
    padding-top: 30px;
}
.nav-menu{
    margin-top: 0px;
    margin-bottom: 60px;
    padding-left: 0px;
    list-style-type: none;
}
.nav-item{
    margin-bottom: 28px;
}
.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #898989;
}
.nav-link:hover{
    color: #ff0000;
}
.nav-link:hover .icon{
    fill: #ff0000;
}
.nav-item .icon{
    fill: #898989;
}
.nav-text{
    margin-left: 13px;

}
.nav-img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.nav-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 30px;
}
    /* CHANNEL */
.channel{
    position: relative;
    margin-bottom: 50px;
}
.channel-title{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    color: #000;
    line-height: 33px;
    margin-bottom: 30px;
}
.channel-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.channel-text{
    margin-left: 20px;
}
.video-card{
    width: 250px;       
}
.video-thumb{
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}
.thumbnail{
    width: 250px;
    height: 150px;
    object-fit: cover; /*Исправляет сплющивание картинки*/
}
.video-duration{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.3);
    mix-blend-mode: normal;
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px 3px 9px;
}
.video-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    margin-top: 10px;
    margin-bottom: 4px;
}
.video-info{
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}
.video-counter{
    display: flex;
    align-items: center;
}
.video-views{
    margin-right: 5px;
}
.video-views:after{
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.slider-buttons{
    position: absolute;
    right: 8%;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
    height: 28px;
}
.channel-button{
    cursor: pointer;
}

/* RECOMMENDED */

.recommended{
    position: relative;
    margin-bottom: 50px;
}
.recommended-title{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    margin-bottom: 30px;
}
.rec-video-card{
    width: 540px;
}
.rec-video-thumb{
    width: 540px;
    height: 250px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}
.rec-thumbnail{
    width: 540px;
    height: 250px;
    object-fit: cover; /*Исправляет сплющивание картинки*/
}
.slider-rec-buttons{
    position: absolute;
    right: 8%;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
    height: 28px;
}
.recommended-button{
    cursor: pointer;
}

/* FOOD & DRINK */
.food{
    position: relative;
}
.food-title{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    color: #000;
    line-height: 33px;
    margin-bottom: 30px;
}
.food-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /*Исправляет сплющивание картинки*/
}
.food-text{
    margin-left: 20px;
}
.food-recommended{
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #C2C2C2;
    margin-left: 20px;
}
.food-button{
    cursor: pointer;
}
.sub{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    position: absolute;
    right: 15%;
    top: 12%;
    display: flex;
    align-items: center;
    width: 155px;
    height: 40px;
    background-color: #ff0000;
    border-radius: 20px;
}
.sub-text{
    position: relative;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
