*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /*выравнивание по центру*/
    padding: 20px 70px 20px 32px;
}
.menu-button{
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;                  /*рычаг управления блоками */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;         /*смена расстановки оси блоков сверху вниз*/
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /*задаёт одинаковое расстояние между блоками*/
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line{
    display: block; /*задаем блочный элемент для прорисовки линий*/
    background-color: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}
.logo{
    margin-right: 59px;
}

    /*INPUT GROUP*/

.input-group{
    background: #EBEBEB;
    border-radius: 22px;
    max-width: 830px; /*максимальный размер*/
    width: 50%; /*половина ширины от родительского элемента*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 17px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.input-search{
  
    background-color: transparent;  /*прозрачный цвет фона*/
    width: 100%;
    outline: none;
    border: none;
    padding: 12px 23px 12px 23px;
}
/*.input-search:active, :hover, :focus { /*убирает рамку при активации input*
    outline: 0;
    outline-offset: 0;
}*/

.button-search{
    padding: 0;
    border: none;
    width: 19px;
    height: 19px;
    background-color: transparent;
    cursor: pointer;
}
.icon-search{
    fill: #000;
    touch-callout: none;
}

    /*ICONS*/

.icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
}
.icons-link{
    text-decoration: none;
    opacity: 0.24;
}
.icons-link:hover{
    opacity: 0.7;
}
.icons-link:not(:last-child){
    margin-right: 50px;
}

    /*AVATAR*/

.user{
    margin-left: 45px;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}